<div class="section-header"{{#if maskId }} style="clip-path: url(#{{maskId}}); --overlay-color: rgba(0, 0, 0, 0.2);"{{/if}}>
    <div class="section-header__top">
        <h2 class="section-header__title section-title">{{title}}</h2>
        {{#if slider}}
            <div class="section-header__slider swiper js-init-slider{{#if sliderMod }} {{sliderMod}}{{/if}}" data-slides="auto">
                <div class="swiper-wrapper">
                    {{#each data }}
                        <div class="section-header__slide swiper-slide"><div class="section-header__slide-inner">{{this.title}}</div></div>
                    {{/each}}
                </div>
            </div>
            <a class="section-header__slider-link" href="#">
                <span>смотреть все</span>
                <svg>
                    <use xlink:href="#link-arrow-icon"></use>
                </svg>
            </a>
        {{/if}}
        {{#if allLink }}
            <a class="section-header__link" href="#">
                <span>смотреть все</span>
                <svg>
                    <use xlink:href="#link-arrow-icon"></use>
                </svg>
            </a>
        {{/if}}
    </div>
    <div class="section-header__line"></div>
    {{#if mask }}
        <svg class="section-header__mask" width="0" height="0" preserveAspectRatio="xMidYTop">
            <defs>
                <clipPath id="{{maskId}}">
                    <rect fill="#FFFFFF" rx="" ry="" x="0" y="0" width="100" height="100"/>
                </clipPath>
            </defs>
        </svg>
    {{/if}}

</div>