{{#extend "layout"}}
    {{#content "main"}}

        <section class="contacts">
            <div class="container">
                {{> breadcrumbs data=breadcrumbs }}
                <h1 class="contacts__title">Контакты</h1>
                <div class="contacts__content">
                    <div class="contacts__content-top">
                        <div class="contacts__links">
                            <a class="contacts__link" href="tel:+78556335237">+7 (85563) 3–52–37</a>
                            <a class="contacts__link" href="mailto:sbyt@rm-mamad.ru">sbyt@rm-mamad.ru</a>
                            <span class="contacts__desc">
                                <img class="lazyload" data-src="img/feedback-icon.svg" alt="Иконка обратной связи">
                                <span>Мы всегда на связи</span>
                            </span>
                        </div>
                        <ul class="contacts__info">
                            {{#each contacts }}
                                <li class="contacts__info-item">
                                    <h3 class="contacts__info-title">{{this.title}}</h3>
                                    {{#if this.href }}
                                        <a class="contacts__info-link" href="{{this.href}}">{{this.text}}</a>
                                    {{else}}
                                        <address class="contacts__info-address">{{this.text}}</address>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="contacts__content-map" id="map" data-marker="img/placemarker.svg" data-coordinates="55.68678156906752, 51.39040749999995" data-zoom="16">

                    </div>
                </div>
            </div>
        </section>
        <section class="contacts-section">
            <div class="container">
                <div class="contacts-section__inner">
                    <div class="contacts-section__title-wrapper">
                        <h2 class="contacts-section__title">связаться с&nbsp;нами</h2>
                    </div>
                    <div class="contacts-section__wrapper">
                        <form class="contacts-section__form js-handle-form" action="#" data-need-validation="true" novalidate>
                            <div class="contacts-section__form-wrapper">
                                <div class="contacts-section__input-wrapper input-wrapper">
                                    <input class="contacts-section__input input" name="contactsName" id="contactsName" type="text" required>
                                    <label for="contactsName">Имя</label>
                                </div>
                                <div class="contacts-section__input-wrapper input-wrapper">
                                    <input class="contacts-section__input input js-phone-input" name="contactsPhone" id="contactsPhone" type="tel" required>
                                    <label for="contactsPhone">номер телефона</label>
                                </div>
                                <div class="contacts-section__input-wrapper input-wrapper">
                                    <textarea class="contacts-section__textarea textarea input" name="contactsComment" id="contactsComment"></textarea>
                                    <label for="contactsComment">Ваше сообщение</label>
                                </div>
                            </div>
                            <div class="contacts-section__checkbox-block">
                                <div class="contacts-section__checkbox-wrapper">
                                    <input class="contacts-section__checkbox checkbox" name="contactsCheckbox" id="contactsCheckbox"
                                           type="checkbox" required>
                                    <label for="contactsCheckbox"> <span>Согласен на обработку<a href="#" download>&nbsp;персональных данных</a></span></label>
                                </div>
                            </div>
                            <button class="contacts-section__button button button--white js-submit-form" type="submit">
                                <span>отправить</span>
                                <svg>
                                    <use xlink:href="#link-arrow-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="contacts-section__content">
                            <div class="contacts-section__text">
                                <p>
                                    Мы всегда рады услашать ваше мнение о&nbsp;нашей&nbsp;продукции, а также пригласить в нашу
                                    команду
                                </p>
                            </div>
                            <div class="contacts-section__links">
                                <a class="contacts-section__link link link--white" href="tel:+79061201515">+7 (906) 120-15-15</a>
                                <a class="contacts-section__link link link--white" href="mailto:sbyt@rm-mamad.ru">sbyt@rm-mamad.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}