{{#extend "layout"}}
    {{#content "main"}}

        {{> page-header bg='img/directions-1.jpg' title='Растениеводство'}}
        <section class="directions-single__description">
            <div class="container">
                {{> section-header title='описание' dot=true }}
            </div>
            <div class="narrow-container">
                <h2>Лучшее мясное производство в республике татарстан</h2>
                <p>
                    Пашня, молочно-товарные фермы и мясоперерабатывающий комбинат построены в Мамадышском районе
                    Республики Татарстан. Непосредственная близость объектов и производство полного цикла упрощают
                    обработку данных для максимально продуктивной работы всех составляющих холдинга.
                </p>
                <p>
                    Пашня, молочно-товарные фермы и мясоперерабатывающий комбинат построены в Мамадышском районе
                    Республики Татарстан. Непосредственная близость объектов и производство полного цикла упрощают
                    обработку данных для максимально продуктивной работы всех составляющих холдинга.
                </p>
                <p>
                    Пашня, молочно-товарные фермы и мясоперерабатывающий комбинат построены в Мамадышском районе
                    Республики Татарстан. Непосредственная близость объектов и производство полного цикла упрощают
                    обработку данных для максимально продуктивной работы всех составляющих холдинга.
                </p>
                {{> features-slider data=descriptionSlider }}
            </div>
        </section>
        <section class="directions-single__types">
            <div class="container">
                {{> section-header title='виды деятельности' dot=true }}
                <ul class="directions-single__types-list">
                    {{#each types }}
                        <li class="directions-single__types-item" style="background: {{this.color}} url('{{this.bg}}') no-repeat center; background-size: cover">
                            <img class="directions-single__types-img lazyload" data-src="{{this.img}}" alt="Фото вида направления">
                            <div class="directions-single__types-content">
                                <h3 class="directions-single__types-title">{{{this.title}}}</h3>
                                {{#if tags }}
                                    <ul class="directions-single__types-tags">
                                        {{#each tags }}
                                            <li class="directions-single__types-tag">{{this.text}}</li>
                                        {{/each}}
                                    </ul>
                                {{/if}}
                                {{#if text }}
                                    <div class="directions-single__types-text">
                                        <p>{{this.text}}</p>
                                    </div>
                                {{/if}}
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="directions-single__features">
            <div class="container">
                {{> section-header title='Ключевые особенности' dot=true }}
                {{> advantages-list data=advantages }}
            </div>
        </section>
        <section class="directions-single__video">
            <div class="container">
                {{> section-video preview='img/video-preview-1.jpg' title='Видео<br> о растениеводстве' }}
            </div>
        </section>
        <section class="contacts">
            <div class="container">
                <div class="contacts__inner">
                    <div class="contacts__title-wrapper">
                        <h2 class="contacts__title">связаться с&nbsp;нами</h2>
                    </div>
                    <div class="contacts__wrapper">
                        <form class="contacts__form js-handle-form" action="#" data-need-validation="true" novalidate>
                            <div class="contacts__form-wrapper">
                                <div class="contacts__input-wrapper input-wrapper">
                                    <input class="contacts__input input" name="contactsName" id="contactsName"
                                           type="text" required>
                                    <label for="contactsName">Имя</label>
                                </div>
                                <div class="contacts__input-wrapper input-wrapper">
                                    <input class="contacts__input input js-phone-input" name="contactsPhone"
                                           id="contactsPhone" type="tel" required>
                                    <label for="contactsPhone">номер телефона</label>
                                </div>
                                <div class="contacts__input-wrapper input-wrapper">
                                    <textarea class="contacts__textarea textarea input" name="contactsComment"
                                              id="contactsComment"></textarea>
                                    <label for="contactsComment">Ваше сообщение</label>
                                </div>
                            </div>
                            <div class="contacts__checkbox-block">
                                <div class="contacts__checkbox-wrapper">
                                    <input class="contacts__checkbox checkbox" name="contactsCheckbox"
                                           id="contactsCheckbox"
                                           type="checkbox" required>
                                    <label for="contactsCheckbox">Согласен на обработку персональных данных</label>
                                </div>
                            </div>
                            <button class="contacts__button button button--white js-submit-form" type="submit">
                                <span>отправить</span>
                                <svg>
                                    <use xlink:href="#link-arrow-icon"></use>
                                </svg>
                            </button>
                        </form>
                        <div class="contacts__content">
                            <div class="contacts__text">
                                <p>
                                    Мы всегда рады услашать ваше мнение о&nbsp;нашей&nbsp;продукции, а также пригласить
                                    в нашу
                                    команду
                                </p>
                            </div>
                            <div class="contacts__links">
                                <a class="contacts__link link link--white" href="tel:+79061201515">+7 (906)
                                    120-15-15</a>
                                <a class="contacts__link link link--white" href="mailto:sbyt@rm-mamad.ru">sbyt@rm-mamad.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {{/content}}
{{/extend}}

<!--

  @include breakpoint(tablet) {

  }

  @include breakpoint(small-tablet) {

  }

  @include breakpoint(mobile) {

  }

-->